html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

/*canvas{*/
/*    display:inline-block;*/
/*    vertical-align:baseline;*/
/*}*/

header{
    position: relative;
    overflow: hidden;
    display: block;
    
    box-sizing: border-box;
}

section{
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 3%;
    position: relative;
    overflow: hidden;
    color: #aaaaaa
}

/* dunno what do
img{
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
*/

/* ---- stats.js ---- */

.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles{
    font-size: 1.1em;
}

#stats,
.count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles{
    border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */

#particles-js{
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #171720;
    background-size: 20%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
}

.nav {
   background-color: #181821;
}

header img {
    width: 50%;
}

/* Navbar section 

.nav_current {
    border-bottom: 1px solid #aaaaaa;
}
.nav {
    font-family: 'Raleway', sans-serif;
   /* width: 100%;
    height: 45px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    
    z-index: 1;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 2rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #aaaaaa;
    font-size: 1.25rem;
}

.nav div.logo a:hover {
    color: #aaaaaa;
}

.nav div.logo a span{
    position: absolute;
    margin-top: -8px;
    margin-left: 10px;
}

.nav div.main_list {
    height: 65px;
    float: right;
    position: relative;
    margin-top: -10px;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 54px;
    padding: 0;
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
}

.nav div.main_list ul li:hover {
    background-color: black;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #aaaaaa;
    line-height: 65px;
    font-size: 1.25rem;
    display: flex;
}

.nav div.main_list ul li a:hover {
    color: #aaaaaa;
}

.navTrigger {
    display: none;
}
*/
/*
.nav {
    padding-top: 0px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
*/

/* What we see when the page opens up 



*, ::before, ::after {
    box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.text-center {
    text-align: center;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-container{
    float: left;
    width: 100%;
}

.col-container img#trojans{
    width: 250px;
    margin-left: 20px;
}

.container-header {
    height: 100%;
    box-sizing: border-box;
    position: relative;
    padding-top: 30vh;
    width: 1200px;
}

.col-container h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* The typwriter cursor 
    border-right: .15em solid #aaaaaa;
    white-space: nowrap; /* Keeps the content on a single line 
    letter-spacing: .15em; /* Adjust as needed 
    animation:
            typing 1s steps(40, end),
            blink-caret .75s step-end infinite;

    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #aaaaaa;
    padding-top: 10px;
    margin: auto;
    width: 880px;
    padding-left: 40px;
}

*/
.page-heading {
    overflow: hidden;
    border-right: .15em solid #aaaaaa;
    
    letter-spacing: .15em;
    animation:
        typing 1s steps(40, end),
        blink-caret .75s step-end infinite;
    color: #aaaaaa;
    margin: auto;
}

/* The typing effect */
@keyframes typing {
    from { 
        width: 0%;
        background-color: green;
    }
    to { width: 100%; background: none; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: lightblue; }
}



.section-intro{
    color: #aaaaaa;
    margin: auto;
    padding-bottom: 10px;
    font-size: 175%;
}

.section-intro h1{
    border-bottom: 2px solid #aaaaaa;
    border-radius: 12px;
    max-width: 30%;
    opacity: 100%;
    margin: auto;
}



#officer-header{
    font-size: 57px;
    border-color: #aaaaaa;
    color: #aaaaaa;
    width: 300px;
}

p {
    font-size: 125%;
    color: #aaaaaa;
    
}

.card {
    background-color: #191922;
    border-radius: 10px;
    color: #aaaaaa;
    border: 1px solid #aaaaaa;
}

.card-title {
    color: #ffffff;
}

.card-header {
    font-size: 125%;
}

section small {
    color: #aaaaaa;
}

section:nth-of-type(odd) {
    background-color: #1e2125;
    color: #aaaaaa;
}

#join a {
    color: white;
}

#nav-join {
    background-color: darkgreen;
    border-radius: 10px;
}

.join-link {
    background-color: #7289da;
}

.usual-time {
    background-color: #191922;
    color: white;
    text-align: center;
}

.subclub-site-alert {
    background-color: darkgoldenrod;
    color: white;
    font-size: 125%;
}

.subclub-site-alert a, .subclub-site-alert a:visited {
    color: lightblue;
}

.subclub-site-btn, .subclub-site-btn:visited {
    color: white;
}

/*
.about{
    background-color: #1e2125;
    padding-top: 60px;
}

.about-col{
    position: relative;
    min-height: 1px;
    padding-left: 35px;
    width: 50%;
    float: left;
}

.about-col img{
    width: 465px;
    border: 2.5px solid #aaaaaa;
    margin-left: 80px;
    margin-top: 30px;
    border-radius: 15px;

    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.about-col img:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px     rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

.about-col p{
    font-size: 30px;
    color: #aaaaaa;
    margin-top: 30px;
}

*/
.officers{
    background-color: unset;
}

.officer-container{
    padding-top: 80px;
}

.officer-name{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 15px;
}

.row{

}

.two-col{
    width: 50%;
    float: left;
    text-align: center;
    color: #aaaaaa;
    font-size: 18px;
}

.two-col h2{
    text-decoration: underline;
}

.two-col p a{
    color: #aaaaaa;
    text-decoration: none;
    text-align: center;
}

.two-col p a:visited{
    color: #aaaaaa;
    text-decoration: none;
}

.three-col{
    width: 33.33333333%;
    float: left;
    text-align: center;
    color: #aaaaaa;
    font-size: 18px;
}

.three-col-officers{
    width: 33.33333333%;
    float: left;
    text-align: center;
    color: #aaaaaa;
    font-size: 18px;
    border-right: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    height: 200px;
    margin-top: 50px;
}

.three-col img{
    width: 230px;
    padding-left: 5px;
}

.four-col{
    width: 25%;
    float: left;
    text-align: center;
    color: #aaaaaa;
    font-size: 18px;
    padding-right: 18px;
    padding-left: 18px;
    border-right: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    height: 225px;
    margin-top: 50px;
}

.four-col p{
    margin-bottom: 0px;
    margin-top: 8px;
}

.three-col-officers p{
    margin-bottom: 0px;
    margin-top: 8px;
}

.calendar{
    padding-top: 40px;
    background-color: unset;
    opacity: 89%;
    padding-bottom: 75px;
}

.calendar-row{
    margin-top: 50px;
}

.calendar-col{
    width: 100%;
    height: 720px;
    position: relative;
    min-height: 1px;
    overflow: hidden;
    border: 3px solid #aaaaaa;
    border-radius: 15px;

}

.calendar-col iframe{
    position: relative;
    width: 100%;
    height: 820px;
    background-color: white;
    margin-top: -105px;
    border: 0px;
    opacity: 100%
}

#cal-event-header{
    margin-top: 0px;
    width: 185px;
}

.footer{
    background-color: #1e2125;
}

.footer-info{
    color: #aaaaaa;
    padding-top: 30px;
}

.footer-info a{
    color: #aaaaaa;
}

.footer-info a:visited{
    color: #aaaaaa;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .nav-container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 2rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}


.myH2 {
    text-align:center;
    font-size: 4rem;
}
.myP {
    text-align: justify;
    padding-left:15%;
    padding-right:15%;
    font-size: 20px;
}
@media all and (max-width:700px){
    .myP {
        padding:2%;
    }
}

.topics{
    background-color: #111;
    height: 336px;
}


#topic-header{
    width: 260px;
}

.current-events-comp{
    background-color: unset;
}

#current-event-header{
    width: 345px;
}

a{
    color: #aaaaaa;
}

a:visited{
    color: #aaaaaa;
}

.extra-padding{
    padding-bottom: 30px;
}

.fill{
    position: relative;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    height: 22.8%;
    background-color: #111;
}

/*.navlinks li a p{*/
/*    margin: 0;*/
/*    width: 120px;*/
/*}*/
