/* === Stuff I don't care about ===*/


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}

html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*height: 5000px;*/
}

body{
    font:normal 75% Arial, Helvetica, sans-serif;
    /*height: 5000px;*/
}

canvas{
    display:block;
    vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles{
    font-size: 1.1em;
}

#stats,
.count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles{
    border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */

#particles-js{
    width: 100%;
    height: 5000px;
    background-color: #171720;
    background-image: url('');
    background-size: 20%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
}


/* What we see when the page opens up */

#frontpage
{
    position: absolute;
    top: 400px;
    width: 100%;

}

#frontpage img
{
    width: 120px;
    margin-left: 50%;
}

#frontpage h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid lightblue; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 1s steps(40, end),
            blink-caret .75s step-end infinite;

    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #aaa;
    padding-left: 50%;
    margin-left: -310px;
    max-width: 835px;
}

/* The typing effect */
@keyframes typing {
    from { width: 0% }
    to { width: 43% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: lightblue; }
}



#main{
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: #51565d;
    top: 150px;
    opacity: 90%;

    border: 0px solid #cccccc;

    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

#main:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px     rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}


